html, body{
    align-items: center;
    height: 100%;
    background: linear-gradient(420deg, #eb92be, #ffef78, #63c9b4, #6425C6);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    

}


a{
    text-decoration: none;
    color: #fff;
    width: 120px;
    display: inline-block;
    text-align:center;
    transform: all .33s linear;
    -webkit-transition:all .33s linear;
}


.home {
    display: flex;
    flex-wrap: wrap;
}

.main-nav{
    background-color: transparent;  
    opacity: 1.0;

   
    
}

.main-nav {
    float: left; 
    list-style: none;
    display: inline-block;
    margin: 30px;
    line-height: 20px; 
}

.xd {
    display: inline-block;
    margin: 20px;
}

.main-nav ul a {
    display: block;
    color:red;
    text-decoration: none;
    font-weight: 400;
 }


header {
    background: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
    

    
  
}


footer{
    background: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 100px;
    
}






.imgUWU{
    border: 5px solid transparent ;    
}
